In [159]:
import sqlalchemy as sa
import pandas as pd
import requests, json

## Get data frome API

In [160]:
# Data Source: 	https://data.ontario.ca/api/3/action/datastore_search?resource_id=775ca815-5028-4e9b-9dd4-6975ff1be021&limit=5
api_url = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id=775ca815-5028-4e9b-9dd4-6975ff1be021&limit=10000'
print(api_url)

https://data.ontario.ca/api/3/action/datastore_search?resource_id=775ca815-5028-4e9b-9dd4-6975ff1be021&limit=10000

In [161]:
#Pull the data
data = requests.get(api_url)
data = data.json()

In [162]:
record = data['result']['records']
df = pd.DataFrame(record)
df

,_id,Date,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated,Percent_3doses
0,1,2020-12-16T00:00:00,12-17yrs,0,0,0,0,961857,.0000,.0000,.0000
1,2,2020-12-16T00:00:00,18-29yrs,37,0,0,0,2454802,.0000,.0000,.0000
2,3,2020-12-16T00:00:00,30-39yrs,84,0,0,0,2077137,.0000,.0000,.0000
3,4,2020-12-16T00:00:00,40-49yrs,98,0,0,0,1855340,.0001,.0000,.0000
4,5,2020-12-16T00:00:00,50-59yrs,148,0,0,0,2019276,.0001,.0000,.0000
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2023-03-18T00:00:00,Adults_18plus,11284727,0,11013111,7418717,12076175,.9345,.9120,.6143
9996,9997,2023-03-18T00:00:00,Ontario_12plus,12086889,0,11771383,7624418,13038032,.9270,.9028,.5848
9997,9998,2023-03-18T00:00:00,Ontario_5plus,12626630,0,12189689,7701596,14113455,.8947,.8637,.5457
9998,9999,2023-03-18T00:00:00,Undisclosed_or_missing,1586,0,427,39,0,.0000,.0000,.0000
9999,10000,2023-03-19T00:00:00,05-11yrs,539766,0,418363,77260,1075423,.5019,.3890,.0718

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           10000 non-null  int64
 1   Date                          10000 non-null  object
 2   Agegroup                      10000 non-null  object
 3   At least one dose_cumulative  10000 non-null  object
 4   Second_dose_cumulative        10000 non-null  object
 5   fully_vaccinated_cumulative   10000 non-null  object
 6   third_dose_cumulative         10000 non-null  object
 7   Total population              10000 non-null  object
 8   Percent_at_least_one_dose     10000 non-null  object
 9   Percent_fully_vaccinated      10000 non-null  object
 10  Percent_3doses                10000 non-null  object
dtypes: int64(1), object(10)
memory usage: 859.5+ KB

In [164]:
df.head(40)

,_id,Date,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated,Percent_3doses
0,1,2020-12-16T00:00:00,12-17yrs,0,0,0,0,961857,.0000,.0000,.0000
1,2,2020-12-16T00:00:00,18-29yrs,37,0,0,0,2454802,.0000,.0000,.0000
2,3,2020-12-16T00:00:00,30-39yrs,84,0,0,0,2077137,.0000,.0000,.0000
3,4,2020-12-16T00:00:00,40-49yrs,98,0,0,0,1855340,.0001,.0000,.0000
4,5,2020-12-16T00:00:00,50-59yrs,148,0,0,0,2019276,.0001,.0000,.0000
5,6,2020-12-16T00:00:00,60-69yrs,78,0,0,0,1813493,.0000,.0000,.0000
6,7,2020-12-16T00:00:00,70-79yrs,17,0,0,0,1181151,.0000,.0000,.0000
7,8,2020-12-16T00:00:00,80+,4,0,0,0,674976,.0000,.0000,.0000
8,9,2020-12-16T00:00:00,Adults_18plus,466,0,0,0,12076175,.0000,.0000,.0000
9,10,2020-12-16T00:00:00,Ontario_12plus,466,0,0,0,13038032,.0000,.0000,.0000
10,11,2020-12-16T00:00:00,Undisclosed_or_missing,0,0,0,0,0,.0000,.0000,.0000
11,12,2020-12-17T00:00:00,12-17yrs,0,0,0,0,961857,.0000,.0000,.0000
12,13,2020-12-17T00:00:00,18-29yrs,112,0,0,0,2454802,.0000,.0000,.0000
13,14,2020-12-17T00:00:00,30-39yrs,233,0,0,0,2077137,.0001,.0000,.0000
14,15,2020-12-17T00:00:00,40-49yrs,280,0,0,0,1855340,.0002,.0000,.0000
15,16,2020-12-17T00:00:00,50-59yrs,336,0,0,0,2019276,.0002,.0000,.0000
16,17,2020-12-17T00:00:00,60-69yrs,197,0,0,0,1813493,.0001,.0000,.0000
17,18,2020-12-17T00:00:00,70-79yrs,34,0,0,0,1181151,.0000,.0000,.0000
18,19,2020-12-17T00:00:00,80+,4,0,0,0,674976,.0000,.0000,.0000
19,20,2020-12-17T00:00:00,Adults_18plus,1196,0,0,0,12076175,.0001,.0000,.0000
20,21,2020-12-17T00:00:00,Ontario_12plus,1196,0,0,0,13038032,.0001,.0000,.0000
21,22,2020-12-17T00:00:00,Undisclosed_or_missing,1,0,0,0,0,.0000,.0000,.0000
22,23,2020-12-18T00:00:00,12-17yrs,0,0,0,0,961857,.0000,.0000,.0000
23,24,2020-12-18T00:00:00,18-29yrs,228,0,0,0,2454802,.0001,.0000,.0000
24,25,2020-12-18T00:00:00,30-39yrs,443,0,0,0,2077137,.0002,.0000,.0000
25,26,2020-12-18T00:00:00,40-49yrs,512,0,0,0,1855340,.0003,.0000,.0000
26,27,2020-12-18T00:00:00,50-59yrs,621,0,0,0,2019276,.0003,.0000,.0000
27,28,2020-12-18T00:00:00,60-69yrs,378,0,0,0,1813493,.0002,.0000,.0000
28,29,2020-12-18T00:00:00,70-79yrs,55,0,0,0,1181151,.0000,.0000,.0000
29,30,2020-12-18T00:00:00,80+,7,0,0,0,674976,.0000,.0000,.0000
30,31,2020-12-18T00:00:00,Adults_18plus,2244,0,0,0,12076175,.0002,.0000,.0000
31,32,2020-12-18T00:00:00,Ontario_12plus,2244,0,0,0,13038032,.0002,.0000,.0000
32,33,2020-12-18T00:00:00,Undisclosed_or_missing,1,0,0,0,0,.0000,.0000,.0000
33,34,2020-12-19T00:00:00,12-17yrs,2,0,0,0,961857,.0000,.0000,.0000
34,35,2020-12-19T00:00:00,18-29yrs,322,0,0,0,2454802,.0001,.0000,.0000
35,36,2020-12-19T00:00:00,30-39yrs,649,0,0,0,2077137,.0003,.0000,.0000
36,37,2020-12-19T00:00:00,40-49yrs,749,0,0,0,1855340,.0004,.0000,.0000
37,38,2020-12-19T00:00:00,50-59yrs,952,0,0,0,2019276,.0005,.0000,.0000
38,39,2020-12-19T00:00:00,60-69yrs,587,0,0,0,1813493,.0003,.0000,.0000
39,40,2020-12-19T00:00:00,70-79yrs,87,0,0,0,1181151,.0001,.0000,.0000

# Feature Engineering

Reported Date (reported_date)

Age Group

New Doses on fully vaccinated 

New Doses at least one dose

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           10000 non-null  int64
 1   Date                          10000 non-null  object
 2   Agegroup                      10000 non-null  object
 3   At least one dose_cumulative  10000 non-null  object
 4   Second_dose_cumulative        10000 non-null  object
 5   fully_vaccinated_cumulative   10000 non-null  object
 6   third_dose_cumulative         10000 non-null  object
 7   Total population              10000 non-null  object
 8   Percent_at_least_one_dose     10000 non-null  object
 9   Percent_fully_vaccinated      10000 non-null  object
 10  Percent_3doses                10000 non-null  object
dtypes: int64(1), object(10)
memory usage: 859.5+ KB

In [166]:
# convert the fully_vaccinated_cumulative column to integer
df['fully_vaccinated_cumulative'] = df['fully_vaccinated_cumulative'].astype('int64')
df['At least one dose_cumulative'] = df['At least one dose_cumulative'].astype('int64')

# Caculate the new_does for each age group
#new_does_fully_vaccinated
df['new_does_fully_vaccinated']= df['fully_vaccinated_cumulative'].diff(periods=11)
#new_dose_least_one_vaccinated
df['new_dose_least_one_vaccinated']= df['At least one dose_cumulative'].diff(periods=11)

In [167]:
df['reported_date'] = pd.to_datetime(df['Date'])

In [168]:
df.drop('Date', inplace=True, axis=1)

In [169]:
df.rename(columns={"Agegroup": "age_group"},inplace= True)
df

,_id,age_group,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated,Percent_3doses,new_does_fully_vaccinated,new_dose_least_one_vaccinated,reported_date
0,1,12-17yrs,0,0,0,0,961857,.0000,.0000,.0000,NaN,NaN,2020-12-16
1,2,18-29yrs,37,0,0,0,2454802,.0000,.0000,.0000,NaN,NaN,2020-12-16
2,3,30-39yrs,84,0,0,0,2077137,.0000,.0000,.0000,NaN,NaN,2020-12-16
3,4,40-49yrs,98,0,0,0,1855340,.0001,.0000,.0000,NaN,NaN,2020-12-16
4,5,50-59yrs,148,0,0,0,2019276,.0001,.0000,.0000,NaN,NaN,2020-12-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Adults_18plus,11284727,0,11013111,7418717,12076175,.9345,.9120,.6143,-1176606.0,-1341953.0,2023-03-18
9996,9997,Ontario_12plus,12086889,0,11771383,7624418,13038032,.9270,.9028,.5848,11770956.0,12085303.0,2023-03-18
9997,9998,Ontario_5plus,12626630,0,12189689,7701596,14113455,.8947,.8637,.5457,11771383.0,12086889.0,2023-03-18
9998,9999,Undisclosed_or_missing,1586,0,427,39,0,.0000,.0000,.0000,-757845.0,-800576.0,2023-03-18
9999,10000,05-11yrs,539766,0,418363,77260,1075423,.5019,.3890,.0718,-1690559.0,-1655369.0,2023-03-19

In [170]:
variables = ['reported_date','age_group','At least one dose_cumulative','new_dose_least_one_vaccinated','new_does_fully_vaccinated','fully_vaccinated_cumulative']
df = df[variables]
df[9900:9940]

,reported_date,age_group,At least one dose_cumulative,new_dose_least_one_vaccinated,new_does_fully_vaccinated,fully_vaccinated_cumulative
9900,2023-03-11,50-59yrs,1829273,636059.0,618546.0,1796288
9901,2023-03-11,60-69yrs,1784826,1108487.0,1088325.0,1755804
9902,2023-03-11,70-79yrs,1193187,-10092297.0,-9836230.0,1177712
9903,2023-03-11,80+,676246,-11411347.0,-11104758.0,667386
9904,2023-03-11,Adults_18plus,11285424,-1341776.0,-1176231.0,11013847
9905,2023-03-11,Ontario_12plus,12087540,12085954.0,11771634.0,11772061
9906,2023-03-11,Ontario_5plus,12627161,12087540.0,11772061.0,12190033
9907,2023-03-11,Undisclosed_or_missing,1586,-800530.0,-757787.0,427
9908,2023-03-12,05-11yrs,539640,-1655343.0,-1690780.0,418041
9909,2023-03-12,12-17yrs,802119,-1097926.0,-1081442.0,758225
9910,2023-03-12,18-29yrs,2194999,488135.0,440664.0,2108833
9911,2023-03-12,30-39yrs,1900053,70780.0,43392.0,1839680
9912,2023-03-12,40-49yrs,1706868,-77958.0,-87634.0,1668170
9913,2023-03-12,50-59yrs,1829272,636085.0,618581.0,1796293
9914,2023-03-12,60-69yrs,1784811,1108565.0,1088403.0,1755789
9915,2023-03-12,70-79yrs,1193161,-10092263.0,-9836157.0,1177690
9916,2023-03-12,80+,676127,-11411413.0,-11104789.0,667272
9917,2023-03-12,Adults_18plus,11285291,-1341870.0,-1176306.0,11013727
9918,2023-03-12,Ontario_12plus,12087410,12085824.0,11771525.0,11771952
9919,2023-03-12,Ontario_5plus,12627050,12087410.0,11771952.0,12189993
9920,2023-03-12,Undisclosed_or_missing,1586,-800533.0,-757798.0,427
9921,2023-03-13,05-11yrs,539644,-1655355.0,-1690778.0,418055
9922,2023-03-13,12-17yrs,802119,-1097934.0,-1081454.0,758226
9923,2023-03-13,18-29yrs,2195006,488138.0,440666.0,2108836
9924,2023-03-13,30-39yrs,1900058,70786.0,43387.0,1839680
9925,2023-03-13,40-49yrs,1706870,-77941.0,-87615.0,1668174
9926,2023-03-13,50-59yrs,1829268,636107.0,618596.0,1796286
9927,2023-03-13,60-69yrs,1784796,1108669.0,1088505.0,1755777
9928,2023-03-13,70-79yrs,1193126,-10092165.0,-9836072.0,1177655
9929,2023-03-13,80+,676046,-11411364.0,-11104759.0,667193
9930,2023-03-13,Adults_18plus,11285170,-1341880.0,-1176392.0,11013601
9931,2023-03-13,Ontario_12plus,12087289,12085703.0,11771400.0,11771827
9932,2023-03-13,Ontario_5plus,12626933,12087289.0,11771827.0,12189882
9933,2023-03-13,Undisclosed_or_missing,1586,-800533.0,-757799.0,427
9934,2023-03-14,05-11yrs,539659,-1655347.0,-1690752.0,418084
9935,2023-03-14,12-17yrs,802121,-1097937.0,-1081446.0,758234
9936,2023-03-14,18-29yrs,2195025,488155.0,440673.0,2108847
9937,2023-03-14,30-39yrs,1900075,70807.0,43404.0,1839690
9938,2023-03-14,40-49yrs,1706873,-77923.0,-87597.0,1668180
9939,2023-03-14,50-59yrs,1829266,636140.0,618632.0,1796287

## Data Oberservation

From the obeservation we could see, the 'new_dose_least_one_vaccinated' and 'new_does_fully_vaccinated' started to become an negative number which is not reasonable. By observe the 'At least one dose_cumulative','fully_vaccinated_cumulative' and compare it to the 'new_dose_least_one_vaccinated','new_does_fully_vaccinated' we find out the cumulative start decrease at some point which means this dataset might need advanced exploration and data cleaning to make it correct.

I suggest next step, we should check where did the cumulative start to decrease. It might cause by missing data or typo,etc.

In [171]:
variables = ['reported_date','age_group','new_dose_least_one_vaccinated','new_does_fully_vaccinated']
df = df[variables]
df.head(50)

,reported_date,age_group,new_dose_least_one_vaccinated,new_does_fully_vaccinated
0,2020-12-16,12-17yrs,NaN,NaN
1,2020-12-16,18-29yrs,NaN,NaN
2,2020-12-16,30-39yrs,NaN,NaN
3,2020-12-16,40-49yrs,NaN,NaN
4,2020-12-16,50-59yrs,NaN,NaN
5,2020-12-16,60-69yrs,NaN,NaN
6,2020-12-16,70-79yrs,NaN,NaN
7,2020-12-16,80+,NaN,NaN
8,2020-12-16,Adults_18plus,NaN,NaN
9,2020-12-16,Ontario_12plus,NaN,NaN
10,2020-12-16,Undisclosed_or_missing,NaN,NaN
11,2020-12-17,12-17yrs,0.0,0.0
12,2020-12-17,18-29yrs,75.0,0.0
13,2020-12-17,30-39yrs,149.0,0.0
14,2020-12-17,40-49yrs,182.0,0.0
15,2020-12-17,50-59yrs,188.0,0.0
16,2020-12-17,60-69yrs,119.0,0.0
17,2020-12-17,70-79yrs,17.0,0.0
18,2020-12-17,80+,0.0,0.0
19,2020-12-17,Adults_18plus,730.0,0.0
20,2020-12-17,Ontario_12plus,730.0,0.0
21,2020-12-17,Undisclosed_or_missing,1.0,0.0
22,2020-12-18,12-17yrs,0.0,0.0
23,2020-12-18,18-29yrs,116.0,0.0
24,2020-12-18,30-39yrs,210.0,0.0
25,2020-12-18,40-49yrs,232.0,0.0
26,2020-12-18,50-59yrs,285.0,0.0
27,2020-12-18,60-69yrs,181.0,0.0
28,2020-12-18,70-79yrs,21.0,0.0
29,2020-12-18,80+,3.0,0.0
30,2020-12-18,Adults_18plus,1048.0,0.0
31,2020-12-18,Ontario_12plus,1048.0,0.0
32,2020-12-18,Undisclosed_or_missing,0.0,0.0
33,2020-12-19,12-17yrs,2.0,0.0
34,2020-12-19,18-29yrs,94.0,0.0
35,2020-12-19,30-39yrs,206.0,0.0
36,2020-12-19,40-49yrs,237.0,0.0
37,2020-12-19,50-59yrs,331.0,0.0
38,2020-12-19,60-69yrs,209.0,0.0
39,2020-12-19,70-79yrs,32.0,0.0
40,2020-12-19,80+,1.0,0.0
41,2020-12-19,Adults_18plus,1110.0,0.0
42,2020-12-19,Ontario_12plus,1112.0,0.0
43,2020-12-19,Undisclosed_or_missing,0.0,0.0
44,2020-12-20,12-17yrs,0.0,0.0
45,2020-12-20,18-29yrs,10.0,0.0
46,2020-12-20,30-39yrs,23.0,0.0
47,2020-12-20,40-49yrs,10.0,0.0
48,2020-12-20,50-59yrs,9.0,0.0
49,2020-12-20,60-69yrs,2.0,0.0

# Ingest the data into PostgreSQL server

In [172]:
my_db_secret = {
    'drivername': 'postgresql+psycopg2', 
    'host': 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port': '5432', 
    'username': 'shawnmd', 
    'password': '2023!Schulich',
    'database': 'shawnmd_db'
}

In [173]:
my_db_url = sa.engine.URL.create(
    drivername = my_db_secret['drivername'],
    username = my_db_secret['username'],
    password = my_db_secret['password'],
    host = my_db_secret['host'],
    port = my_db_secret['port'],
    database = my_db_secret['database']
)

In [174]:
my_db_engine = sa.create_engine(my_db_url)

In [175]:
df.to_sql(
    name = 'covid_on_vaccine_data',
    schema = 'final_exam',
    con = my_db_engine,
    if_exists = 'replace',
    index=False,
    method='multi',
    dtype= {
        'reported_date' :sa.types.CHAR(10000),
        'age_group' :sa.types.VARCHAR(100),
         'new_dose_least_one_vaccinated': sa.types.INTEGER,
           'new_does_fully_vaccinated': sa.types.INTEGER,
    }   
)

10000